{% extends "base.html" %} {% block content %}
<h4>Practices</h4>
<div>
  <a href="{{ url_for('practice.add_practice') }}" class="button button-primary"
    >Add New Practice</a
  >
</div>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if practices %} {% for practice in practices %}
    <tr>
      <td>{{ practice.name }}</td>
      <td></td>
      <td>###</td>
      <td>
        <a
          href="{{ url_for('practice.view_practice', practice_id=practice.id) }}"
          class="button button-secondary"
          >View Practice</a
        >
        <br />
        <a
          href="{{ url_for('practice.edit_practice', practice_id=practice.id) }}"
          class="button button-secondary"
          >Edit Practice</a
        >
      </td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="4">No practices found</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock content %}
