{% extends "base.html" %} {% block content %}
<h4>{{ practice.name }}</h4>
<div class="row">
  <div class="three columns">
    <h5>Users</h5>
    <p>{{ user_count }}</p>
    <a
      href="{{ url_for('users.view_users', practice_id=practice.id) }}"
      class="button button-secondary"
      >View Users</a
    >
    <br />
    <a
      href="{{ url_for('users.add_user', practice_id=practice.id) }}"
      class="button button-primary"
      >Add User</a
    >
  </div>
  <div class="three columns">
    <h5>Patients</h5>
    <p>{{ patient_count }}</p>
    <a
      href="{{ url_for('patient.patients', practice_id=practice.id) }}"
      class="button button-secondary"
      >View Patients</a
    >
    <br />
    <a
      href="{{ url_for('patient.add_patient', practice_id=practice.id) }}"
      class="button button-primary"
      >Add Patient</a
    >
  </div>
  <div class="three columns">
    <h5>Created eConsults</h5>
    <p>{{ econsult_count }}</p>
    <a
      href="{{ url_for('econsult.econsults', practice_id=practice.id) }}"
      class="button button-secondary"
      >View eConsults</a
    >
    <br />
    <a
      href="{{ url_for('econsult.add_econsult', practice_id=practice.id)}}"
      class="button button-primary"
      >Add eConsult</a
    >
  </div>
  <div class="three columns">
    <h5>Assigned eConsults</h5>
    <p>###</p>
    <a href="#" class="button button-secondary">View eConsults</a>
  </div>
</div>
<br />
<br />
<h5>Practice Information</h5>
<div class="row">
  <div class="u-full-width">
    <h5>Address</h5>
    <p>Address goes here</p>
    <h5>Phone</h5>
    <p>{{ practice.phone_number }}</p>
    <a
      href="{{ url_for('practice.edit_practice', practice_id=practice.id) }}"
      class="button button-secondary"
      >Edit Practice</a
    >
  </div>
</div>
{% endblock content %}
