{% extends "base.html" %} {% block content %}
<h4>Add Patient</h4>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="six columns">
      <!-- Start Patient Name -->
      <h5>Patient Name</h5>
      {{ form.firstname.label }}{{ form.firstname }} {{ form.middlename.label
      }}{{ form.middlename }} {{ form.lastname.label }}{{ form.lastname }} {{
      form.suffixname.label }}{{ form.suffixname }}
      <!-- End Patient Name -->
    </div>
    <div class="six columns">
      <!-- Start Address -->
      <h5>Patient Address</h5>
      {{ form.street_number.label }}{{ form.street_number }} {{
      form.street_prefix.label }}{{ form.street_prefix(class="select2-search")
      }} {{ form.street_name.label }}{{ form.street_name }} {{
      form.street_type.label }}{{ form.street_type(class="select2-search") }} {{
      form.street_suffix.label }}{{ form.street_suffix(class="select2-search")
      }} {{ form.apartment_unit_room.label }}{{ form.apartment_unit_room }} {{
      form.po_box_address.label }}{{ form.po_box_address }} {{ form.city.label
      }}{{ form.city }} {{ form.state.label }}{{
      form.state(class="select2-search") }} {{ form.zipcode.label }}{{
      form.zipcode }}
      <!-- End Address -->
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <!-- Start Demographics -->
      <h5>Patient Demographics</h5>
      {{ form.date_of_birth.label }}{{ form.date_of_birth }} {{ form.sex.label
      }}{{ form.sex }} {{ form.gender_identity.label }}{{ form.gender_identity
      }} {{ form.sexual_orientation.label }}{{ form.sexual_orientation }}
      <!-- End Demographics -->
    </div>
    <div class="six columns">
      <!-- Start Phone -->
      <h5>Patient Contact Info</h5>
      {{ form.mobile_number.label }}{{ form.mobile_number }} {{
      form.home_number.label }}{{ form.home_number }} {{ form.work_number.label
      }}{{ form.work_number }}
      <!-- End Phone -->
    </div>
  </div>
  <!-- Status -->
  <h5>Patient Status</h5>
  {{ form.status.label }}{{ form.status }}
  <br />
  {{ form.cancel(class="button-secondary") }} {{
  form.submit(class="button-primary") }}
</form>
{% endblock content %}
