{% extends "base.html" %} {% block content %}
<h4>Patients</h4>
<div>
  <a
    href="{{ url_for('practice.view_practice', practice_id=practice_id) }}"
    class="button button-secondary"
    >Back to Practice</a
  >
</div>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if patients %} {% for patient in patients %}
    <tr>
      <td>{{ patient.lastname }}, {{ patient.firstname }}</td>
      <td>
        <a
          href="{{ url_for('patient.view_patient', patient_id=patient.id) }}"
          class="button button-secondary"
          >View Patient</a
        >
      </td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="2">No patients found</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock content %}
