{% block navbar %}
<div class="secondarybar">
  <ul class="secondarybar-nav">
    {% if current_user.is_authenticated %}
    <li class="secondarybar-nav-item">
      <a href="#" class="secondarybar-nav-link">
        <i class="fa-solid fa-envelope"></i>
        <span class="link-text">Messages</span>
      </a>
    </li>
    <li class="secondarybar-nav-item">
      <a href="{{ url_for('users.account') }}" class="secondarybar-nav-link">
        <i class="fas fa-user"></i>
        <span class="link-text">Account</span>
      </a>
    </li>
    {% else %}
    <li class="secondarybar-nav-item">
      <a href="{{ url_for('users.login') }}" class="nav-link">
        <i class="fas fa-sign-in-alt"></i>
        <span class="link-text">Login</span>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
{% endblock navbar %}
