{% block secondarybar %}
<div class="secondarybar">
  <ul class="secondarybar-nav">
    {% if current_user.is_authenticated %}
    <li class="secondarybar-nav-item">
      <a href="#" class="secondarybar-nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            fill="currentColor"
            class="fa-primary"
            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48z"
          />
          <path
            fill="currentColor"
            class="fa-secondary"
            d="M0 112V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V112c0 15.1-7.1 29.3-19.2 38.4L275.2 313.6c-11.4 8.5-27 8.5-38.4 0L19.2 150.4C7.1 141.3 0 127.1 0 112z"
          />
        </svg>
      </a>
    </li>
    <li class="secondarybar-nav-item">
      <a href="{{ url_for('users.account') }}" class="secondarybar-nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            fill="currentColor"
            class="fa-primary"
            d="M274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"
          />
          <path
            fill="currentColor"
            class="fa-secondary"
            d="M352 128c0 70.69-57.3 128-128 128C153.3 256 96 198.7 96 128s57.31-128 128-128C294.7 0 352 57.31 352 128z"
          />
        </svg>
        <span class="link-text">Account</span>
      </a>
    </li>
    {% else %}
    <li class="secondarybar-nav-item">
      <a href="{{ url_for('users.login') }}" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            fill="currentColor"
            class="fa-primary"
            d="M274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"
          />
          <path
            fill="currentColor"
            class="fa-secondary"
            d="M352 128c0 70.69-57.3 128-128 128C153.3 256 96 198.7 96 128s57.31-128 128-128C294.7 0 352 57.31 352 128z"
          />
        </svg>
        <span class="link-text">Login</span>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
{% endblock secondarybar %}
