{% extends "base.html" %} {% block content %}
<!-- User profile section -->
<div class="row">
  <!--  -->
  <div class="one-half column">
    <img
      style="height: 200px; width: 200px"
      src="{{ url_for('static',filename='profile_pics/' + current_user.profile_image) }}"
      alt=""
    />
  </div>
  <!--  -->
</div>
<!--  -->
<br />
<a href="{{ url_for('users.logout') }}" class="button">Log Out</a>

<form method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }} {{ form.email.label }}{{ form.email }} {{
  form.picture.label }}{{ form.picture }}
  <br />
  {{ form.submit(class='button-primary') }}
</form>
<!-- End User profile section -->
{% endblock content %}
