{% extends "base.html" %} {% block content %}
<h1>Register</h1>
<!-- Start Register -->
<form method="POST" action="/register">
  {{form.hidden_tag()}} {{form.email.label}}{{form.email}}
  {{form.password.label}}{{form.password}}
  {{form.pass_confirm.label}}{{form.pass_confirm}}
  <br />
  {{form.submit(class="button-primary")}}
</form>
<!-- End Register -->
<!-- Start Link to Login -->
<p>
  Already have an account?
  <a href="{{url_for('users.login')}}">Log in here.</a>
</p>
<!-- End Start Link to Login -->
{% endblock content %}
