{% extends "base.html" %} {% block content %}
<h4>eConsults</h4>
<div>
  <a href="{{ url_for('practice.practices') }}" class="button button-secondary"
    >Back to Practice</a
  >
</div>
<table class="u-full-width">
  <thead>
    <tr>
      <th>ID</th>
      <th>Practice</th>
      <th>Patient</th>
      <th>Creating Provider</th>
      <th>Specialty</th>
      <th>Assigned Specialist</th>
      <th>Created Date</th>
      <th>Last Updated Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if econsults %} {% for econsult in econsults %}
    <tr>
      <td>{{ econsult.id }}</td>
      <td>{{ econsult.name }}</td>
      <td>{{ econsult.patient_lastname }}, {{ econsult.patient_firstname }}</td>
      <td>
        {{ econsult.creating_provider_lastname }}, {{
        econsult.creating_provider_firstname }}
      </td>
      <td>{{ econsult.specialty_name }}</td>
      <td>
        {% if econsult.assigned_specialist_lastname %} {{
        econsult.assigned_specialist_lastname }}, {{
        econsult.assigned_specialist_firstname }} {% else %} {% endif %}
      </td>
      <td>{{ econsult.created_date.strftime('%b %d, %Y') }}</td>
      <td>{{ econsult.updated_date.strftime('%b %d, %Y') }}</td>
      <td>{{ econsult.status }}</td>
      <td>
        <a
          href="{{ url_for('econsult.view_econsult', econsult_id=econsult.id) }}"
          class="button button-secondary"
          >View eConsult</a
        >
      </td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="9">No eConsults found</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock content %}
