<div id="<%= dom_id consult_conversation %>">
  <p>
    <strong>User:</strong>
    <%= consult_conversation.user_id %>
  </p>

  <p>
    <strong>Consult:</strong>
    <%= consult_conversation.consult_id %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= consult_conversation.message %>
  </p>

</div>
